@model List<Fruit>
@{
    int sn = 1;
}
<table class="table">
    <thead>
        <tr>
            <th>SN</th>
            <th>Name</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <tbody>
            @foreach (var data in Model)
            {
            <tr>
                <td>@(sn++)</td>
                <td>@(data.Name)</td>
                <td>@(data.Price)</td>
                <td>
                    <a asp-action="upload-img" asp-controller="Fruit">Upload Image</a>
                </td>
                <td>
                    <a asp-action="edit" asp-controller="Fruit" asp-route-id="@(data.Id)" class="btn btn-warning">Edit</a>
                    <a asp-action="delete" asp-controller="Fruit" class="btn btn-danger" asp-route-id="@(data.Id)">Delete</a>
                    @* <a asp-action="details" asp-controller="Fruit" asp-route-id="@(data.Id)" class="btn btn-info">Details</a> *@
                </td>
            </tr>
            }
    </tbody>
    </tbody>
</table>